<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Skeleton App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <h1>SkeletonApp</h1>
 <h5>Aqui comienza todo</h5>
 <h2>Bienvenido!</h2>
 <br>

  <ion-list>

    <ion-item>
      <ion-input fill="solid" label="Usuario:" [counter]="true" maxlength="8" labelPlacement="floating" placeholder="Ingrese su usuario" [(ngModel)]="usuario.nombre"></ion-input>
    </ion-item>
  <br>
    <ion-item>
      <ion-input type="password" fill="solid" label="Contraseña:" [counter]="true" maxlength="4" labelPlacement="floating" placeholder="Ingrese su contraseña" [(ngModel)]="usuario.password"></ion-input>
    </ion-item>

  </ion-list>
  <br>
  <ion-button expand="block"  (click)="irHome()" type="submit">Ingresar
    <ion-icon slot="start" name="log-in-outline"></ion-icon>
  </ion-button>
  <br>
  <a> >Crea tu cuenta Gratis aqui< </a>

</ion-content>
